body{
  font-family: Arial,Helvetica, sans-serif;
  margin:0 auto;
}


#exitButton {
  position: absolute;
  width:inherit;
  height:inherit;
  top: 0px;
  left: 0px;
  cursor: pointer;
  background-color: rgba(0,0,0,0);
  opacity: 0;
  z-index: 400;
}

#container {
  margin:0 auto;
  position: relative;
  overflow: hidden;
  cursor: default;
  background-color:#fff;
}

#borderDiv{
  position: absolute;
  top: 0px;
  left: 0px;
  width: inherit;
  height: inherit;
  background-color:transparent;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  border:1px solid #999999;
  z-index: 402;
  pointer-events: none;
}

#preloader{
  position:absolute;
  background-image:url('./preloader.gif') ;
  width:50px;
  height:50px;
  top:50%;
  left:50%;
  margin-top:-25px;
  margin-left:-25px;
}
